@font-face {
    font-family: main-font;
    src: url(./Fonts/futurak.ttf);
}

:root {
    --primary-color: rgb(0 0 0);
    --primary-light-color: #0f0f0f;
    --secondary-color: rgb(237 28 36);
    --text-color: #ffffff;
}

/* css reset */

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* utility class */

.heading {
    font-family: main-font !important;
}

/* main styling */

.logo img {
    width: 160px;
}

.nav-links a {
    color: white;
    font-weight: 500;
}

.primary {
    padding-top: 12px;
    padding-bottom: 12px;
}

.secondary {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: red;
}

.secondary i {
    font-size: 24px;
}

.logo2 img {
    width: 130px;
}