@font-face {
    font-family: main-font;
    src: url(./Fonts/futurak.ttf);
}

@font-face {
    font-family: secondary-font;
    src: url(./Fonts/Butler_Regular.otf);
}

:root {
    --primary-color: rgb(0 0 0);
    --primary-light-color: #0f0f0f;
    --secondary-color: rgb(237 28 36);
    --primary-text-color: #ffffff;
    --secondary-text-color: #adb7ad;
}

/* css reset */

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background-color: black;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
}

input[type="checkbox"] {
    display: none;
}

/* utility class */

.large-heading {
    font-family: main-font !important;
    font-size: 52px !important;
    font-weight: 500 !important;
}

.medium-heading {
    font-family: main-font !important;
    font-size: 32px !important;
    font-weight: 500 !important;
}

.small-heading {
    font-family: main-font !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}

.extra-small-heading {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 21px !important;
    font-weight: 300 !important;
}

.secondary-large-heading {
    font-family: secondary-font !important;
    font-size: 48px !important;
    font-weight: 900 !important;
}

.secondary-medium-heading {
    font-family: secondary-font !important;
    font-size: 40px !important;
    font-weight: 600 !important;
}

.para {
    color: var(--secondary-text-color) !important;
    font-weight: 500 !important;
}

.para-light {
    color: var(--secondary-text-color) !important;
    font-weight: 400 !important;
}

.heading {
    font-family: 'Times New Roman', Times, serif !important;
    color: var(--primary-text-color);
    font-weight: 600;
}

.dark-heading {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-text-color);
}

/* main styling */

.logo img {
    width: 160px;
}

.nav-links a {
    color: white;
    font-weight: 500;
}

.primary {
    padding-top: 12px;
    padding-bottom: 14px;
}

.secondary {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: red;
}

.secondary i {
    font-size: 24px;
}

.logo2 img {
    width: 110px;
}

.second-section {
    padding-bottom: 90px !important;
}

.second-heading-section {
    width: 68%;
}

.second-heading-section h1 {
    font-size: 40px;
}

.second-section .btn {
    margin-left: 80px;
    margin-top: 20px;
}

.s-pic {
    background-image: url(./assets/s-photo.webp);
    width: 325px;
    height: 465px;
    right: 20px !important;
}

.third-section {
    background-color: var(--primary-light-color);
}

.third-card-left h5,
.third-card-right h5 {
    color: var(--secondary-color);
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

.location-section,
.call-section {
    color: var(--secondary-text-color);
}

.call-section+.btn>span {
    padding: 6px 10px !important;
    border-radius: 50% !important;
}

.fourth-small-heading {
    font-size: 14px !important;
    letter-spacing: 5px !important;
    color: var(--secondary-color);
}

.fourth-section-location,
.fourth-section-call {
    color: var(--secondary-text-color);
}

.fourth-section-call+.btn {
    padding: 13px 20px !important;
}

.fourth-btn {
    padding: 6px 10px !important;
    border-radius: 50% !important;
}

.fourth-btn i {
    transform: rotate(-35deg);
}

.fourth-card p {
    font-size: 14px !important;
}

.fifth-section {
    background-color: var(--primary-light-color);
}

.fifth-left>img {
    width: 100%;
}

.fifth-right>h6 {
    letter-spacing: 5px;
}

.fifth-location,
.fifth-call {
    color: var(--secondary-text-color);
}

.fifth-call+.btn {
    padding: 13px 20px !important;
    transition: .2s background-color linear;
}

.fifth-call+.btn>span {
    padding: 6px 10px !important;
    border-radius: 50% !important;
}

.fifth-call+.btn:hover {
    background-color: transparent !important;
}

.sixth-card {
    width: 32%;
}

.sixth-small {
    font-size: 26px !important;
}

.sixth-card>h6 {
    letter-spacing: 6px;
    font-size: 12px;
}

.last-section>h2 {
    font-family: 'Times New Roman', Times, serif !important;
}

.last-img-section {
    overflow-x: auto !important;
}

.last-img-section img {
    width: 250px;
    height: 250px
}

.footer-section {
    background-color: var(--primary-light-color);
}

.accordian-1body,
.accordian-2body {
    display: none;
}

#checkbox-1:checked~.accordian-section>.accordian-1body,
#checkbox-2:checked~.accordian-section>.accordian-2body {
    display: flex;
}

.accordian-1,
.accordian-2 {
    font-family: 'Times New Roman', Times, serif !important;
}

.accordian-section a {
    color: var(--secondary-text-color);
}

.accordian-section h5 {
    font-size: 17px !important;
}

.accordian-section h6 {
    font-size: 18px !important;
}

.footer-icon-section span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #EB1C24 !important;
}

.medium-first {
    width: 45%;
}

.medium-second {
    width: 20% !important;
}

.medium-third {
    width: 30% !important;
}

.first {
    width: 33%;
}

.second {
    width: 10%;
}

.third {
    width: 20%;
}

.fourth {
    width: 20%;
}

/* About Page */

.about-second-left {
    width: 48% !important;
}

.about-second-right {
    width: 48% !important;
}

@media (max-width: 992px) {

    .logo2 img {
        width: 150px;
    }

    .second-section h1>span {
        font-size: 35px !important;
    }

    .second-section p {
        font-size: 14px;
    }

    .card-section {
        overflow-x: auto !important;
        width: 80%;
        margin: 0 auto;
    }

    .card-section>.bg-white>img {
        width: 230px;
    }

    .third-card-section {
        text-align: center;
    }

    .fourth-card>img {
        width: 60%;
    }

    .fifth-left,
    .fifth-right {
        width: 100% !important;
        text-align: center;
        padding-left: 0px !important;
    }

    .sixth-card-section {
        margin-bottom: 0 !important;
    }

    .sixth-card {
        width: 60%;
        margin-bottom: 20px !important;
    }

    .about-second-section {
        text-align: center;
        margin-bottom: 0px !important;
    }

    .about-second-left {
        width: 100% !important;
    }

    .about-second-right {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .logo2 img {
        width: 110px;
    }

    .second-section {
        padding: 60px 0 !important;
    }

    .second-section .w-50 {
        width: 90% !important;
    }

    .second-section h1 {
        margin-bottom: 16px !important;
    }

    .second-section h1>span {
        font-size: 28px !important;
    }

    .card-section {
        width: 90%;
    }

    .fourth-card>img {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .first-card img {
        width: 100% !important;
    }

    .fourth-card>img {
        width: 90%;
    }

    .secondary-large-heading {
        font-family: secondary-font !important;
        font-size: 40px !important;
        font-weight: 900 !important;
    }

    .large-heading {
        font-family: main-font !important;
        font-size: 40px !important;
        font-weight: 500 !important;
    }

    .medium-heading {
        font-family: main-font !important;
        font-size: 30px !important;
        font-weight: 500 !important;
    }

    .sixth-card {
        width: 90%;
    }

    .last-img-section img {
        width: 200px;
        height: 200px
    }
}